<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>To Do App</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div>
    <H1> Tasks: </H1>
    <a th:href="@{/newScrapeSmartphone}" class="btn">Add Task </a>
    <table border="1" class = "table table-striped table-responsive-md">
        <tbody>
        <tr th:each="smartphone : ${smartphoneList}">
            <td th:text="${smartphone.modelName}"></td>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>